<table *ngIf="game != null" class="scores-table">
    <caption class="table-caption">
        <h4>{{game.name}}</h4>
    </caption>
    <thead class="table-head">
        <tr>
            <th class="name-col" rowspan="2">Name</th>
            <th *ngFor="let n of game.duration | timesRepeat:1; index as i" class="year-heading" colspan="6">Year
                {{n}}
            </th>
            <th class="target-score-col" rowspan="2">Target</th>
            <th class="current-score-col" rowspan="2">Score</th>
        </tr>
        <tr>
            <ng-container *ngFor="let n of game.duration | timesRepeat">
                <th class="year-start resource-score">C</th>
                <th class="resource-score">E</th>
                <th class="resource-score">G</th>
                <th class="resource-score">T</th>
                <th class="resource-score">M</th>
                <th class="year-score year-end">Score</th>
            </ng-container>
        </tr>
    </thead>
    <tbody class="table-body">
        <tr *ngFor="let country of game.countries">
            <td class="name-col">{{country.name}}</td>
            <ng-container *ngFor="let n of game.duration | timesRepeat">
                <td class="year-start resource-score">{{country.scores[n]?.chocolate}}</td>
                <td class="resource-score">{{country.scores[n]?.energy}}</td>
                <td class="resource-score">{{country.scores[n]?.grain}}</td>
                <td class="resource-score">{{country.scores[n]?.textiles}}</td>
                <td class="resource-score">{{country.scores[n]?.meat}}</td>
                <td class="year-score year-end">{{country.scores[n]?.score}}</td>
            </ng-container>
            <td class="target-score-col">{{country.targetScore}}</td>
            <td class="current-score-col opacity"
                [ngClass]="country.currentScore >= country.targetScore ? 'above-score' : 'below-score'">
                {{country.currentScore}}</td>
        </tr>
    </tbody>
</table>