<ng-container *ngIf="show">
    <score-country-selection (country)="countrySelected($event)"></score-country-selection>

    <ng-container *ngIf="showResultEntry">
        <score-result-entry [resetFormSubject]="resetFormSubject" (resultResponse)="resultUpdated($event)"></score-result-entry>

        <ng-container *ngIf="apiResponseNotNull">
            <score-consumption-resources-display heading="Excess" [consumptionObject]="apiResponse.excess"></score-consumption-resources-display>
            <score-consumption-resources-display heading="Targets" [consumptionObject]="apiResponse.nextYearTarget"></score-consumption-resources-display>
        </ng-container>
    </ng-container>
</ng-container>