<p>{{heading}}</p>
<table>
    <thead>
        <th>Resource name</th>
        <th>Number</th>
    </thead>
    <tbody>
        <tr>
            <td>
                Energy
            </td>
            <td>
                {{consumptionObject.energy}}
            </td>
        </tr>
        <tr>
            <td>
                Chocolate
            </td>
            <td>
                {{consumptionObject.chocolate}}
            </td>
        </tr>
        <tr>
            <td>
                Meat
            </td>
            <td>
                {{consumptionObject.meat}}
            </td>
        </tr>
        <tr>
            <td>
                Grain
            </td>
            <td>
                {{consumptionObject.grain}}
            </td>
        </tr>
        <tr>
            <td>
                Textiles
            </td>
            <td>
                {{consumptionObject.textiles}}
            </td>
        </tr>
    </tbody>
</table>