<h4>Select a game</h4>
<mat-form-field>
    <mat-label>Game</mat-label>
    <mat-select [formControl]="gameSelectionControl">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let g of games" [value]="g.id">{{g.name}}</mat-option>
    </mat-select>
</mat-form-field>

<ng-container *ngIf="game != null">
    <h4>Set game year</h4>
    <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select [formControl]="gameYearControl">
            <mat-option *ngFor="let n of game.duration | timesRepeat:1;" [value]="n">Year {{n}}</mat-option>
        </mat-select>
    </mat-form-field>

    <p>Selected game: {{game.name}}</p>
    <p>Current year: {{game.currentYear}}</p>
</ng-container>