<div class="nav-container" #navContainer>
    <div [ngClass]="{expanded: isExpanded, minimized: !isExpanded}">
        <div class="header link-item" (click)="toggleExpanded()">
            <p>
                <span class="gt">&gt;</span>
                <span class="lt">&lt;</span>
                <span>&nbsp;</span>
                <span class="menu-text">Menu</span>
            </p>
        </div>
        <div class="link-item" [routerLink]="['admin']">
            <p>
                <span>&gt;&nbsp;</span>
                <span class="menu-text">Admin</span>
            </p>
        </div>
        <div class="link-item" [routerLink]="['/']">
            <p>
                <span>&gt;&nbsp;</span>
                <span class="menu-text">Game</span>
            </p>
        </div>
        <div class="link-item" [routerLink]="['scores', 'summary']">
            <p>
                <span>&gt;&nbsp;</span>
                <span class="menu-text">Summary</span>
            </p>
        </div>
        <div class="link-item" [routerLink]="['scores', 'detailed']">
            <p>
                <span>&gt;&nbsp;</span>
                <span class="menu-text">Details</span>
            </p>
        </div>
    </div>
</div>